.elgg-item {
    width: 30%;
   padding: 5px;
   float: left;
}

.elgg-photo {
}

.tidypics-gallery > li {
    padding: 0 !important;
}
.elgg-module-tidypics-album, .elgg-module-tidypics-image {
    width: 90%;
}